<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCpFFrxNh3GQ1UDB06Yx4CTEeGQUN1Xi8c</string>
	<key>GCM_SENDER_ID</key>
	<string>315727974281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yenniferhurtado.TikTokApp</string>
	<key>PROJECT_ID</key>
	<string>tiktokclone-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktokclone-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315727974281:ios:7ccb1c8c372a8d250edb58</string>
</dict>
</plist>